header {
  background-color: rgb(224, 224, 224);
  padding: 10px;
  height: 2.5vh;
  border-bottom: 1px solid grey;
}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigate > form {
 display: flex;
 flex-direction: row;
 align-items: center;
 height: 100%;
}

form.navigate > * {
  height: 100%;
  margin: 0 5px;
}

form.navigate > [type=text] {
  width: 200px;
}

div.profile {
  height: 40px;
  width: 40px;
  border-radius: 21px;
  border: 1px solid black;
  margin-right: 20px;
  background-image: url(https://www.pngitem.com/pimgs/m/404-4042686_my-profile-person-icon-png-free-transparent-png.png);
  background-position: center;
  background-size: 33px;
}

div.profile:hover {
  border: 2px solid black
}